/* ## Body ## */

body {
	margin: 0px 0px 0px 0px;
	}
main {
  margin-top: 37px;
}

/* alert: "Finished all images" display on main screen. */
.alert {
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  font-size: 70px;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* ## Top Navbar ## */

/* top navbar */
.TopNavbar {
  /* background-color: #99bbff; */
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,152,253,1) 100%);
  overflow: hidden;
  height: 37px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
/* container for left-aligned top navbar items */
.NavLeft img{
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  color: white;
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin: 4px 6px;
}
.NavLeft label{
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  color: white;
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin: 5px 4px;
  font-weight: bold;
}

 /* ## sidebar ## */

 /* sidebar */
 .sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 260px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
 /* top: 0; /* Stay at the top */
  right: 0;
  background-color: rgb(165, 200, 211);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  margin-top: 0px;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* fixed data display */
.data-box {
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  margin: 4px 4px 4px 4px;
  font-size: 14px;
  border: 1px solid #a6a6a6;
  text-align: left;
  text-wrap: wrap;
  /* overflow: hidden; */
}

/* data input */

.input-box {
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  margin: 4px 4px 4px 4px;
  padding: 0px 10px 0px 0px;
  float: right;
}
.input-box label {
  font-size: 16px;
}
.input-box input {
  width: 200px;
}

.input-button {
  margin: 4px 4px 4px 4px;
  padding: 0px 10px 0px 0px;
  float: left;
}


/* ## InputBox ## */
/*
.input-field {
  margin: 14px 14px;
  }
  */
/* title text for box */
/*
.IBoxTitle {

  font-size: 1.4rem;
  color: #3c3c3c;
 }
*/
/*box to contain form elements */
/*
.IboxInput {
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  margin: 8px 8px;
  padding: 4px;
  width: 40px;
  color: #787878;
}

/* text input container */
/*
.ibox_text {
	margin: 8px 8px;
}
*/

/*
.ibox_text label {
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  white-space: nowrap;
}
*/

/* submit/cancel button container */
/*
.ibox_button {
	white-space: nowrap;
	margin: 15px 40px;
}
*/
/* info-box: used to display status at top of page */
/*
.info-box {
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	border: 1px solid #FFCC33;
	background: #fff2cc;
	margin-top: 10px;
	margin-left: 8px;
	padding: 2px 12px 2px 2px;
	text-align: left;
	float: left;
}
*/
/*
.error-box {
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	border: 1px solid #ff4d4d;
	background: #ffb3b3;
	margin-top: 10px;
	margin-left: 8px;
	padding: 2px 12px 2px 2px;
	text-align: left;
	float: left;
}
*/

/*
.data-box-title {
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  font-size: 25px;
  padding: 4px 4px;
  text-decoration: none;
  height: 32px;
  background: #cccccc
}
*/
/* The navigation menu links */
/*
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  display: block;
}
*/

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
*/