<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--  <link href="/static/favicon.ico" rel="icon">  -->
        <link href="/static/styles.css" rel="stylesheet">
        <title>Image Tagger - {{ image_name }}</title>
    </head>
    <body>
        <div class="header">
            <!-- top navbar -->
            <nav class="TopNavbar">
                <div class="NavLeft">
                    <label>Image-Tagger</label>
                </div>
            </nav>
        </div>
        <!-- sidebar --> 
        <div class="sidenav">
            <div class="data-box"><a>Count: {{ image_count }}</a></div>
            <div class="data-box"><a>Image Name: {{ image_name }}</a></div>
            <div class="data-box"><a>Filetype: {{ image_filetype }}</a></div>
            <div class="data-box"><a>MD5 Hash: {{ image_hash }}</a></div>
            <form action="/" method="post">
                <div class="input-box"> <!-- prefix -->
                    <label for="prefix">Prefix:</label>
                    <input type="text" id="prefix" name="prefix" value="{{ prefix }}">
                </div>
                <div class="input-box"> <!-- suffix -->
                    <label for="suffix">Suffix:</label>
                    <input type="text" id="suffix" name="suffix" value="{{ suffix }}">
                    <hr>
                </div>

                <div class="input-box"> <!-- data -->

                    <label for="data">Data:</label>
                    <input type="text" id="data" name="data" autofocus>
                </div>
                <div class="input-button">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        <main>
            {% if alert %}
            <a class="alert">{{ alert }}</a>
            {% else %}
            <img src="{{ image_path }}">
            {% endif %}
        </main>
    </body>
</html>